<h1>イエス・キリストからのお言葉</h1>
<p class="text-center mt-5">
  求めよ、そうすれば、与えられるであろう。<br>
  捜せ、そうすれば、見いだすであろう。<br>
  門をたたけ、そうすれば、あけてもらえるであろう。
</p>
<%= image_tag 'https://placehold.jp/660x400.png', class: 'img-fluid' %>
