<% if @radio_type == '1' %>
  キリスト教だよ
<% elsif @radio_type == '2' %>
  釈迦だよ
<% end %>
<div>
  <p class="until">時効成立まで</p>
  <p class="timer">あと
    <span id="sec"></span>秒
  </p>
</div>

<script>
  setTimeout(function () {
    window.location.href = '<%= @redirect_path %>';
  }, 5 * 1000);

</script>
