<div class="wrapper">
  <div class="d-flex justify-content-between">
    <span class="fs-1"><%= @title %></span>
    <%= link_to @subtitle, @link_path, class: 'align-self-end' %>
  </div>
  <% @microposts.each do |micropost| %>
    <div class="card my-2">
      <div class="card-body">
        <%= micropost.content %>
      </div>
    </div>
  <% end %>
</div>
