<div class="wrapper">
  <%= form_with model: @micropost, local: true do |f| %>

    <div class="form-floating mb-3">
      <%= f.text_area :content, class: 'form-control form-textarea', :required => true %>
      <%= f.label :content, '時効にしたいことを書く' %>
    </div>
    <div class="my-5 text-center">
      <%= f.submit "時効成立を待つ", class: "btn btn-ziko btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
