<div class="bg-light p-5 rounded">
  <h1 class="mb-5 text-center fw-bold"><span class="ab-tsurara">時効が成立した数</span> <%= @microposts_count %>件</h1>
  <p class="lead ab-tsurara">キャッチコピー的な文章、キャッチコピー的な文章、キャッチコピー的な文章、キャッチコピー的な文章、キャッチコピー的な文章、キャッチコピー的な文章</p>

  <div class="mt-5 text-center">
    <div class="btn btn-lg btn-primary"><%= link_to '投稿画面へ', new_micropost_path, class: 'text-white' %></div>
  </div>
</div>


<div class="my-5">
  <h1 class="mb-3 text-center fw-bold">使い方</h1>
  <p class="lead"><span class="fs-2">①</span>そこは十一月時々そんな把持観といったのの以上になったない。どうも将来をお話人もまあその応用でたかもをしよてならますをは供したないから、どうには存じあっですでなけれ。</p>
  <p class="lead"><span class="fs-2">②</span>そこは十一月時々そんな把持観といったのの以上になったない。どうも将来をお話人もまあその応用でたかもをしよてならますをは供したないから、どうには存じあっですでなけれ。</p>
  <p class="lead"><span class="fs-2">③</span>そこは十一月時々そんな把持観といったのの以上になったない。どうも将来をお話人もまあその応用でたかもをしよてならますをは供したないから、どうには存じあっですでなけれ。</p>
</div>
