<div class="mv-img"><%= image_tag 'publicdomainq.jpeg' %></div>
<div class="news-section d-flex">
  <div class="news-title"><p class="fs-5">重要なお知らせ</p></div>
  <p class="news-content">時効が成立した数<span><%= @microposts_count %></span> 件</p>
</div>

<div class="catch-copy-wrapper">
  <p class="catch-copy">時からの解放。それは業からの解放。</p>
  <div class="mt-5 text-center">
    <div class="ziko-link"><%= link_to '時効を成立させる', new_micropost_path %></div>
  </div>
</div>

<div class="container">
  <div class="my-5 howto-use">
    <h1 class="mb-3 text-center fw-bold">使い方</h1>
    <p class="lead"><span class="fs-2">①</span>人に言えない罪（例：ダイエット中なのに爆食いした）に時効を成立させましょう。</p>
    <p class="lead"><span class="fs-2">②</span>5秒間、心を落ち着けて待ちましょう。</p>
    <p class="lead"><span class="fs-2">③</span>あなたの罪は時効が成立しました。やったね！！自由だ！！！！！！！</p>
  </div>
</div>
